/* Footer */

.footer {
	margin-top: auto;
	padding: 60px 0 50px;
	background-color: var(--footer-bg);
	color: var(--footer-text);
}

.footer__wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 27px;
}

.social {
	display: flex;
	column-gap: 30px;
	align-items: center;
}
.tg{
	max-width: 54px;
}

.copyright {
	font-size: 16px;
}

.copyright p + p {
	margin-top: 0.5em;
}

.links{
	display: grid;
	justify-items: center;
	align-items: center;
	grid-template-columns: repeat(3,1fr);
	margin: 10px;
}

.links-item h1{
	padding-bottom: 10px;
}
.links-item ul a{
	color: rgb(141, 141, 141);
}